@model IEnumerable<FormulaUnoObligatorio.Models.Carrera>

<h2>Listado de Carreras</h2>

<p>
    <a class="btn btn-success" asp-action="Crear">Crear Carrera</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Fecha</th>
            <th>Piloto</th> 
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreCarrera)</td>
                <td>@Html.DisplayFor(modelItem => item.CiudadCarrera)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaCarrera)</td>
                <td>@Html.DisplayFor(modelItem => item.Piloto.NombrePiloto)</td> 
                <td>
                    <a class="btn btn-primary" asp-action="Detalles" asp-route-id="@item.IdCarrera">Detalles</a>
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdCarrera">Editar</a>
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdCarrera">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
