@model FormulaUnoObligatorio.Models.Escuderia

<h2 class="text-center mb-4">Detalles de la Escuderia</h2>
<hr />

<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>@Model.NombreEscuderia</h4>
    </div>
    <div class="card-body">
        <p><strong>Sponsor Oficial:</strong> @Model.SponsorOficial</p>
        <p><strong>Pais:</strong> @Model.PaisEscuderia</p>
        <p><strong>Piloto:</strong></p>
        <ul>
            @foreach (var piloto in Model.Pilotos)
            {
                <li>@piloto.NombrePiloto</li>
            }
        </ul>
    </div>
</div>

<div class="mt-4 text-center">
    <a href="@Url.Action("Index", "Escuderia")" class="btn btn-secondary">Volver al listado</a>
</div>
