@model IEnumerable<FormulaUnoObligatorio.Models.Escuderia>

<h2>Listado de Escuderias</h2>

@if (ViewBag.HabilitarNuevaEscuderia = true)
{
    <p>
        <a class="btn btn-success" asp-action="Crear">Crear Escuderia</a>
    </p>
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sponsor Oficial</th>
            <th>Pais de Origen</th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEscuderia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SponsorOficial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaisEscuderia)
                </td>
                
                <td>
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdEscuderia">Editar</a>
                    <a class="btn btn-primary" asp-action="Detalles" asp-route-id="@item.IdEscuderia">Detalles</a>
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdEscuderia">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



