@model IEnumerable<FormulaUnoObligatorio.Models.Resultado>

<h2>Listado de Resultados</h2>

<p>
    <a class="btn btn-success" asp-action="Crear">Crear Nuevo Resultado</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Carrera</th>
            <th>Piloto</th>
            <th>Posición de Salida</th>
            <th>Posición de Llegada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarreraResultado?.NombreCarrera</td>
                <td>
                    @item.PilotoResultado?.NombrePiloto
                    @item.PilotoResultado?.ApellidoPiloto
                </td>
                <td>@item.PosicionSalida</td>
                <td>@item.PosicionLlegada</td>
                <td>
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdResultado">Editar</a>
                    <a class="btn btn-primary" asp-action="Detalles" asp-route-id="@item.IdResultado">Detalles</a>
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdResultado">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
