@model IEnumerable<FormulaUnoObligatorio.Models.Resultado>

<h2>Listado de Resultado</h2>

    <p>
        <a class="btn btn-success" asp-action="Crear">Crear Nuevo </a>
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Pais</th>
                <th>Fecha Nacimiento</th>
                <th>Escuderia Piloto</th> 
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombrePiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApellidoPiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaisPiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                    <td>@item.EscuderiaPiloto?.NombreEscuderia</td>
                <td>
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdPiloto">Editar</a>
                    <a class="btn btn-primary" asp-action="Detalles" asp-route-id="@item.IdPiloto">Detalles</a>
                    <a class="btn btn-danger" href="#" onclick="if (confirm('¿Estás seguro de que quieres eliminar esta carrera?')) { location.href='@Url.Action("Eliminar", "Piloto", new { id = item.IdPiloto })'; }">Eliminar</a>
                </td>
                </tr>
            }
        </tbody>
    </table>
    