@model FormulaUnoObligatorio.Models.Piloto

<h2 class="text-center mb-4">Detalles del Piloto</h2>
<hr />

<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>@Model.NombrePiloto</h4>
    </div>
    <div class="card-body">
        <p><strong>Apellido :</strong> @Model.ApellidoPiloto</p>
        <p><strong>Pais:</strong> @Model.PaisPiloto</p>
        <p><strong>Fecha Nacimiento:</strong> @Model.FechaNacimiento.ToString("dd/MM/yyyy")</p>
    </div>
</div>

<div class="mt-4 text-center">
    <a href="@Url.Action("Index", "Piloto")" class="btn btn-secondary">Volver al listado</a>
</div>
