@model IEnumerable<FormulaUnoObligatorio.Models.Piloto>

<h2>Listado de Pilotos</h2>

@if (ViewBag.HabilitarNuevoPiloto = true)
{
    <p>
        <a class="btn btn-success" asp-action="Crear">Crear Nuevo Piloto</a>
    </p>
}


 <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Pais</th>
                <th>Fecha Nacimiento</th>
                <th>Escuderia Piloto</th>
                <th>Puntaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombrePiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApellidoPiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaisPiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                    <td>@item.EscuderiaPiloto?.NombreEscuderia</td>
                    <td>@Html.DisplayFor(modelItem => item.PuntajePiloto)</td>

                <td>
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdPiloto">Editar</a>
                    <a class="btn btn-primary" asp-action="Detalles" asp-route-id="@item.IdPiloto">Detalles</a>
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdPiloto">Eliminar</a>
                </td>
                </tr>
            }
        </tbody>
    </table>
    

