@model IEnumerable<FormulaUnoObligatorio.Models.Piloto>

<h2>Listado de Pilotos</h2>

    <p>
        <a class="btn btn-success" asp-action="Create">Crear Nuevo Piloto</a>
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre Piloto</th>
                <th>Apellido Piloto</th>
                <th>Pais Piloto</th>
                <th>Fecha Nacimiento</th>
                <th>Escuderia Piloto</th> 
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombrePiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApellidoPiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaisPiloto)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                    <td>@Html.DisplayFor(modelItem => item.EscuderiaPiloto)</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdEscuderia">Editar</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdEscuderia">Detalles</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEscuderia">Eliminar</a>
                </td>
                </tr>
            }
        </tbody>
        
    </table>
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
    <div class="alert alert-danger">
        @error.ErrorMessage
    </div>
    }

